body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:10px ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.button {
    background-color: #303285;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
     color: white;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top:10px ;
    margin-bottom: 2px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display:flex;
    margin: 0px auto 0px auto;
    max-width: 1100px
}

article {
    background-color: white;
    padding:15px ;
    width: 400px;
    margin: 30px;
}

.article-but {
    text-decoration: none;
    background-color: #303285;
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

footer {
    background-color: #303285;
    padding:15px ;
    display: flex
}

footer a {
    margin-right: 30px;
}

footer p {
    font-size: 24px;
    color: white;
}
